@{
    ViewData["Title"] = "Tarea7";
}

    <div class="text-center">

        <div class="jumbotron" style="text-align: center;">
            <h1 class="display-4">Curso Avanzado Programación .NET Core MVC</h1>
            <h3 class="display-5">Tarea 8 - Patron Repositorio</h3>
            <hr class="my-4">
            <h5 class="display-5">Universidad Católica Nordestana (UCNE) </h5>
            <p class="lead">Escuela de Sistemas</p>
            <br>
            <br>

            <p class="lead">Neysi A. Fermín Minaya</p>
            <p class="lead">Matricula: 2016-0747</p>

        </div>
    </div>
